@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Laila:wght@300&display=swap');


@layer base{
    html{
        background-color: rgb(43, 43, 43);
        color: rgb(238, 224, 224);
        font-family: 'Laila', sans-serif;
        font-size: 18px;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    }
    a{
      color: unset;
      text-decoration: none;
    }
}


